<section class="todoapp">
  <header class="header">
    <h1>{{titre}}</h1>
    <form (submit) = "service.create(label.value); label.value=''">
      <input  #label
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus #lab/>
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
    />
    <label for="toggleAll">Mark all as complete</label>
    <ul class="todo-list">
    </ul>
  </section>
  <section class="todo-items"
            *ngIf="todoListObs | async as liste">
    <div *ngFor="let todoItem of liste.items; trackBy: trackByMethod">
      <todo-item [data]="todoItem" (update)="update($event, todoItem)" (remove)="delete($event)"></todo-item>
    </div>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong></strong>{{(todoListObs | async)?.items?.length}} restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll"><button>Tous</button></a>
      </li>
      <li>
        <a class="filterActives"><button>Actifs</button></a>
      </li>
      <li>
        <a class="filterCompleted"><button>Complétés</button></a>
      </li>
    </ul>
    <button class="clear-completed">Supprimer cochées</button>
  </footer>
</section>
