<div class="view">
  <input  #checkIsDone
          class = "toggle"
          type  = "checkbox"
          name  = "done"
          [checked]="data.isDone"
          (change)="mettreAJour({isDone: checkIsDone.checked})"
  />
  <label  class="texte">
  </label>
  <button class="destroy"
          (click)="delete(data)">Supprimer</button>
</div>
<form>
  <input  #newTextInput
          name      = "newTextInput"
          value     = "{{data.label}}"
          (focus)="focused = true"
          (focusout)="focused = false"
          [ngClass]="focused? 'edit' : 'not_edit'"
          (change)="mettreAJour({label: newTextInput.value}); "
  />
</form>
